*,
*::before,
*::after {
  box-sizing: border-box;
}

.navbar {
  padding: 0.2rem 1rem 0.2rem 1rem;
  position: sticky;
}
header {
  float: top;
  position: relative;
  z-index: 50;
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}
#header-nav a {
  color: white;
  text-decoration: none;
  margin-right: 52px;
  font-weight: 500;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.main-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: auto;
}
.main-splash {
  color: white;
  height: 100%;
  width: 100%;
}

.splash-text {
  z-index: 1;
  color: white;
  position: relative;
  left: 68%;
  top: 55%;
  display: inline-block;
}

.splash-text h3 {
  font-size: 4.5rem;
  font-weight: 600;
  margin: 0px 0px 0px 0px;
  padding-bottom: 5px;
  position: relative;
  left: -15px;
  border-bottom: 5px solid orange;
  border-right: 5px solid orange;
}

.splash-text p {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: left;
  margin: 0;
}

.main-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  object-fit: cover;
  transform: scale(1, 1);
}

.button {
  background-color: #c72626;
  position: relative;
  border: 0px;
  font-size: 1rem;
  color: white;
  font-weight: 400;
  outline: none;
}

.splash-button {
  right: 5px;
  top: 10px;
}

.main-welcome {
  position: relative;
  z-index: 10;
  padding-left: 87px;
  margin-bottom: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg fill-opacity='0.17'%3E%3Crect fill='%23ffffff' width='11' height='11'/%3E%3Crect fill='%23fffcfb' x='10' width='11' height='11'/%3E%3Crect fill='%23fff9f8' y='10' width='11' height='11'/%3E%3Crect fill='%23fff6f4' x='20' width='11' height='11'/%3E%3Crect fill='%23fff3f1' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23fff0ed' y='20' width='11' height='11'/%3E%3Crect fill='%23ffeee9' x='30' width='11' height='11'/%3E%3Crect fill='%23ffebe6' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23ffe8e2' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23ffe5df' y='30' width='11' height='11'/%3E%3Crect fill='%23ffe2db' x='40' width='11' height='11'/%3E%3Crect fill='%23ffdfd8' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23ffdcd4' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23ffd9d1' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23ffd6cd' y='40' width='11' height='11'/%3E%3Crect fill='%23ffd3ca' x='50' width='11' height='11'/%3E%3Crect fill='%23ffd1c6' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23ffcec3' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23ffcbbf' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23ffc8bc' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23ffc5b9' y='50' width='11' height='11'/%3E%3Crect fill='%23ffc2b5' x='60' width='11' height='11'/%3E%3Crect fill='%23ffbfb2' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23ffbcae' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23ffb9ab' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23ffb6a8' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23ffb3a4' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23ffb0a1' x='70' width='11' height='11'/%3E%3Crect fill='%23ffad9d' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23ffab9a' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23ffa897' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23ffa594' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23ffa290' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23ff9f8d' x='80' width='11' height='11'/%3E%3Crect fill='%23ff9c8a' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23ff9986' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23ff9683' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23ff9380' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23ff907d' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23fe8d79' x='90' width='11' height='11'/%3E%3Crect fill='%23fe8976' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23fd8673' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23fc8370' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23fc806d' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23fb7d69' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23fa7a66' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23fa7763' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23f97360' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23f8705d' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23f76d5a' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23f66a57' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23f66653' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23f56350' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23f45f4d' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23f35c4a' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23f25847' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23f15544' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23f05141' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23ef4d3e' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23ee493b' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  padding-top: 12rem;
}

.main-welcome h3 {
  font-size: 5.5rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.main-welcome p {
  color: #7a7a7a;
  letter-spacing: 4px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1rem;
  font-weight: 500;
}

.steps-container {
  text-align: center;
  font-size: 2.6rem;
  position: relative;
}
.steps-container h3 {
  font-weight: 600;
}

.stripe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.stripe img {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.bg-stripe {
  position: relative;
  z-index: 1;
  bottom: 165px;
  display: inline-block;
  width: 100%;
  height: 100px;
  content: none;
  background-color: #ffc5c5;
}

.promo-carousel img {
  max-width: 100%;
  max-height: 100%;
}
.carousel {
  max-width: 100%;
  max-height: 50%;
}
.carousel-caption {
  position: absolute;
  top: 65%;
  left: 4%;
}

.carousel-caption h2 {
  display: inline;
  background-color: white;
  color: black;
  font-size: 3rem;
  font-weight: 800;
  padding: 0px 25px;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 10;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  padding: 22px;
  position: relative;
  font-size: 50px;
}

.hot-items-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.hot-items-container.item {
  padding: 5px;
}

.topSellersContainer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.topSellers {
  text-align: center;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topSellers h2 {
  display: inline;
  font-weight: 700;
  font-size: 3rem;
}

.card-body {
  padding: 5px 10px;
}

.card-text {
  padding-top: 8px;
  padding-bottom: 30px;
}

.card-img-top {
  width: 100%;
  height: 95%;
  margin-bottom: 15px;
}

.btn-test {
  margin-bottom: 10px;
  margin-left: 0.5rem;
  font-size: 1rem;
  text-align: left;
  padding-right: 0;
}
.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 2rem;
  margin: 0 10%;
}

.menu-item {
  display: flex;
  align-items: center;
  border: 3px solid #d0d0d0;
  margin-top: 1rem;
}

.menu-item h2 {
  margin: 0;
  padding-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.5rem;
}
.menu-item img {
  max-width: 28%;
  max-height: 28%;
  position: relative;
}

.menu-item p {
  margin: 0;
  font-size: 0.8rem;
  font-style: italic;
  margin-left: 0.5rem;
}

.menu-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  overflow: auto;
}

.btn-menu {
  position: absolute;
  display: inline-block;
  right: 18px;
  bottom: 2px;
  max-width: 70%;
}

.restaurant-container {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.restaurant-container img {
  margin-left: 1rem;
  max-width: 50%;
}

.restaurant-container h2 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 3rem;
  font-weight: 700;
  margin-right: 1.5rem;
}

.restaurant-container p {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 300;
}
.recycle-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.recycle-container {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  margin-right: 4rem;
}
.recycle-left-img {
  display: flex;
  flex-direction: column;
  max-width: 33.3%;
}

.recycle-left-img img {
  max-width: 100%;
}

.recycle-right-img {
  max-width: 70%;
}

.recycle-right-img img {
  max-width: 100%;
}

.recycle-text {
  flex: 0 0 60%;
  position: relative;
  left: 8rem;
  color: #7a7a7a;
  font-size: 1.5rem;
}

.recycle-text h2 {
  font-weight: 600;
  font-size: 2rem;
  color: #e93f3f;
  max-width: 50%;
}

.recycle-text p {
  max-width: 80%;
}

.blog-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 12rem;
}

.blog-item {
  margin: 0 1rem;
}

.blog-item .card {
  border: none;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
}

.footer {
  padding-bottom: 0rem;
}
.footer p {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}

.row {
  padding-top: 1rem !important;
}
.footer img {
  margin: 0.5rem;
}

.form-container {
  display: flex;
}

.row {
  padding-top: 2rem;
}

.payment-logos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.payment-logos img {
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.menu-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-text img {
  margin-right: 1rem;
}

.cart-area p {
  margin: 0;
  padding: 0;
  padding-right: 1rem;
}
.cart-area {
  display: flex;
  align-items: center;
}

.dropdown-menu.show {
  background-color: black;
}

.qty-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 2px;
  margin-left: 0.5rem;
}

.qty-container button {
  background-color: #c72626;
  color: white;
  font-weight: 500;
  border: 0;
  margin: 1px;
  margin-top: 1rem;
}

.qty-container h2 {
  margin: 0;
  padding: 0;
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.cartRow {
  margin-top: 4rem !important;
}

.cartRow .form-control {
  border-radius: 0;
  padding: 0;
  text-align: center;
}

.cartRow i {
  color: black;
}

.cart-button {
  margin-right: 0.5rem;
  padding: 6px 12px 6px 12px;
  background-color: black;
}

.cart-button {
  font-size: 1.2rem;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.login-container a {
  color: #c72626;
}
.login-container input {
  border-radius: 0;
  border: 1px solid gray !important;
}

header img {
  cursor: pointer;
}

.cartRow a {
  text-decoration: none;
}

.cartRow .card {
  margin-bottom: 2rem;
}

.cartRow h3 {
  font-weight: 500;
  color: #c72626;
  margin: 1rem;
}

.order-col {
  text-align: center;
}
.order-col .list-group-item {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.order-header {
  color: #c72626;
}

.single-order .card {
  margin-bottom: 0;
}

.single-order .alert {
  margin-bottom: 0;
  border-radius: 0;
  padding-left: 0.5rem;
}

.animation {
  margin: 0;
  padding: 0;
}

.my-order-container {
  margin-top: 4rem;
}

.my-order-container h3 {
  font-weight: 600;
}
.table-sm th {
  color: #c72626;
}

.id-container {
  cursor: pointer;
}

.id-container:hover {
  color: #c72626;
}

.cartScreen .list-group-item {
  border: none;
}

.table-sm {
  text-align: center;
}

.table-sm td {
  vertical-align: middle;
}
.id-container {
  font-weight: 500;
}

.order-detail {
  padding: 0.75rem;
  font-weight: 500;
}
